.dresscode {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 10px 30px 10px;
  background-color: #eeddb9;
  border-radius: 30px;
  height: 660px !important;
  width: 370px !important;
}
